@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
$bg-color: rgba(77, 75, 58, 0.555);
$font-color: rgb(34, 34, 34);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 600;
  color: $font-color;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: $bg-color;
}
